/** form **/
mat-expansion-panel {
	box-shadow: none !important;
}
mat-expansion-panel-header:hover {
	background: none !important;
}
mat-panel-title {
	justify-content: center;
}
mat-radio-button {
	margin-right: 10px;
}
.detail-form {
	margin-bottom: 10px;
}
mat-checkbox {
	margin-right: 5px;
}
.mat-checkbox-layout .mat-checkbox-inner-container {
	margin-right: 4px !important;
}

/** table **/
.mat-table {
	overflow: auto;
}
.mat-table .type {
	cursor: pointer;
	padding-right: 1em;
	min-width: 40%;
}
.mat-header-cell.mat-sort-header-sorted {
	color: black;
}
.mat-header-cell {
	white-space: nowrap !important;
}
.mat-header-cell:nth-child(2) {
	min-width: 14%;
}
.mat-header-cell:nth-child(3) {
	padding-left: 1.5em;
}
.mat-cell {
	word-wrap: break-word;
}
.mat-cell:nth-child(2) {
	padding-right: 1em;
	min-width: 14%;
}
.mat-cell:nth-child(5) {
	min-width: 10%;
}
.mat-sort-header-arrow {
	top: 4px;
}